.cvsignore
DISK1.img
DISK2.img
Makefile
UW-RELEASE-NOTES
configure
defs.mk
defs.mk.sample
kern
kernel
kernel-ASST0
sys161.conf
bin/
hostinclude/
hostlib/
include/
lib/
man/
mk/
sbin/
testbin/
*~
.gitignore
